<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478897703404-e3vi5qldnj4kg8lfqn9sk6tibrnemdh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478897703404-e3vi5qldnj4kg8lfqn9sk6tibrnemdh7</string>
	<key>API_KEY</key>
	<string>AIzaSyCsTdwtGCzAGDTGqkRS2wWuXlbvVQwMZvM</string>
	<key>GCM_SENDER_ID</key>
	<string>478897703404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cz510009.MatchApp</string>
	<key>PROJECT_ID</key>
	<string>matchapp-46cbd</string>
	<key>STORAGE_BUCKET</key>
	<string>matchapp-46cbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478897703404:ios:ea74c6edd0af20fcaa58c9</string>
</dict>
</plist>